<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="App.css">
  <title> {{title}}</title>
</head>
<body>
   {{!-- {{#if  hasProduct}} --}}
    <div class="products">
     {{#each data}}
      <div class="card">
        <img class="card-img" src={{this.image}}>
        <div class="card-title">{{this.title}}</div>
        <div class="card-description">{{this.description}}</div>
        <div class="card-price price">{{this.price}}</div>
        <button class="btn-add Add">Buy</button>
      </div>
     {{/each}}
     </div>
   {{!-- {{else}} --}}
    {{!-- <h1 style="text-align: center;"> No Products Existed</h1> --}}
   {{!-- {{/if}} --}}
</body>
</html>
